html{
    background-color:;
}


.main{
    position: relative;
    margin-left:350px;    
}

.kujira{
    position:relative;
    margin-top:550px;

}

.kujira-img{
    position: absolute;;
    margin-top:-550px;
    margin-left:-100px;
    transition-duration: 0.5s;
}

.kujira-img:hover{
	transform: scale(0.8) rotate(1deg);
	transition-duration: 0.5s;
}

.contents{
    position: relative;
    display:flex;
    justify-content: space-between;

}


.logo1{
    position: absolute;
    margin-left:900px;
    margin-top:-500px;
    font-family: 'Press Start 2P', cursive;
}

.logo1-1{
    position: absolute;
    margin-left:-950px;
    margin-top:-50px;
    background-color:#000044;
    width:1500px;
    height:130px;
    z-index:-20;
    border-radius: 10px;
}

.logo2{
    position: absolute;
    margin-left:1300px;
    margin-top:-650px;
    font-family: 'Press Start 2P', cursive;
}

.t{
    font-size:7em;
    margin-top:-30px;
    margin-left:150px;
    color:#FF0000;
}

.o{
    position: absolute;
    margin-top:-150px;
    margin-left:230px;
    font-size:1.5em;
    color:white;
}

.c{
    font-size:7em;
    color:#ADFF2F;
}

.r{
    position:absolute;
    margin-top:-130px;
    margin-left:50px;
    font-size:1.3em;
}

.contact-img{
    margin-top:300px;
    position:absolute;
    margin-left:-1300px;
}

.contact{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    z-index:2000;
    margin-top:370px;
    margin-left:-1000px;
    font-size:2.3em;
    color:black;
}

.formrun{
    color:blue;
    background-color:#fa8072;
    position: absolute;
    margin-top:430px;
    margin-left:480px;
    border-radius:10px;
    height:150px;
}